# macos
.DS_Store

# ide
.idea/

# node
node_modules/

# ts
lib/

# frontend build result
public/*
!public/.gitkeep

# feathers bundle consumed by frontend
client-package/*
!client-package/.gitkeep

# ignore in memory database
piano-analytics.sqlite
